<p id="notice"><%= notice %></p>

<h1>Colors</h1>

<input type="text"  class="dial" id="red">
<input type="text"  class="dial" id="green">
<input type="text"  class="dial" id="blue">

<div style="width:30px; height: 30px;" id="d">
 
</div>